Config(
  // The horizontal position of the window
  x: Fraction(0.5),
  // The vertical position of the window
  y: Fraction(0.3),
  // The width of the window
  width: Fraction(0.3),
  // The height of the window
  height: Absolute(0), // 0 means it fits to content
  // Hide anyrun when focus is lost
  hide_at_focus_lost: true,
  // Hide anyrun when a match is selected
  hide_on_first_selection: true,
  // Show only the results that match the query
  show_results_immediately: false,
  // Max entries to show
  max_entries: None,
  // Plugins to load
  plugins: [
    "libapplications.so",
    "libshell.so",
    "libsymbols.so",
    "libwebsearch.so",
    "libdictionary.so",
    "libtranslate.so",
  ],
)
